/*--------------------------------------MENU*/
.menu {	
	box-shadow: inset 0 0 2em .2em lightgoldenrodyellow;
	text-align: center;
	opacity: .5;
	font-size: 20px;
	height: 30px;
	padding: 0 1%
}
	.menu a {
		/*outline: 1px solid deeppink;	*/
		color:#083600; 
		text-decoration: none;
		float:left;
		margin: 0 1%;
	}
	.menu a:hover{
		text-decoration: none;
		-webkit-stroke-width: 6px;
	    -webkit-stroke-color: #083600;
	    -webkit-fill-color: #083600;
	    text-shadow: 0 0 15px #083600;
	}	


/*--------------------------------------PREVIOUS*/


/*--------------------------------------LOGIN*/
.login {
	  transition: all 0.75s ease;
}





/*--------------------------------------SEARCH BAR*/
#searchNewSearch {
}			
.searchTextInput {
	font-family: 'Shojumaru';
	font-size: 12px;
	border: 1px solid lightgoldenrodyellow;
	border-radius: 5px;
	padding: 5px 15px;
	margin: .25% 0 5% .5%;
	float: right;
}			
		.searchButton {
			font-family: 'Shojumaru', cursive;
			font-size: 20px;
			opacity: .75;
			background: none;
			border: none;
			padding: 0;
			float: right;
		}			
		.searchButton::-moz-focus-inner {
			border: 0;
		}	
		.searchButton:hover{
			text-decoration: none;
			-webkit-stroke-width: 6px;
		    -webkit-stroke-color: #083600;
		    -webkit-fill-color: #083600;
		    text-shadow: 0 0 15px #083600;
		}				
		.searchClear {
			clear: both;
		}